@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 80px;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px black;
}

p {
    font-size: 28px;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px black;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

ul {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    justify-content: center;
}

a {
    position: absolute;
    font-size: 32px;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px 2px white;
    padding: 0.3em 0.5em;
    color: white;
    transition: 0.3s ease-in-out;
}

li:first-child {
    margin-right: 10.5em;
}

li:last-child {
    margin-left: 10.5em;
}

a:hover {
    font-size: 40px;
    color: white;
    background-color: rgba(255,255,255,.1)
}

body {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 100%,rgba(0,0,0,0.1) 100%), url('background.jpg'); 
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    -webkit-animation: slide 1500s linear infinite;
    animation: slide 1500s linear infinite;
    backdrop-filter: blur(1px);
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
        background-position: -10000px 0;
    }
}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }
    /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
        background-position: -10000px 0;
    }
}

